.trans-type {
  height: 4rem;

  &__btn {
    width: 5rem;
    height: 100%;
    border: none;
    cursor: pointer;
    color: red;
    img {
      width: 3rem;
    }
  }

  &__car {
    border-radius: 2rem 0 0 2rem;
    background-color: #33CC99;
  }

  &__motor {
    border-radius: 0 2rem 2rem 0;
    background-color: #33CC99;
  }
}