.trans-type {
  pointer-events: auto;
  height: 4rem;

  &__btn {
    width: 5rem;
    height: 100%;
    border: none;
    cursor: pointer;
    img {
      width: 3rem;
    }
  }

  &__car {
    border-radius: 2rem 0 0 2rem;
    background-color: var(--main-color);
  }

  &__motor {
    border-radius: 0 2rem 2rem 0;
    background-color: var(--main-color);
  }
}

.mode__controller {
  pointer-events: auto;
  width: 20rem;
  height: 3rem;
  
  &--button {
    width:50%;
    height: 100%;
    background-color: var(--main-color);
  }
  &--self {
    border-radius: 2.5rem 0 0 2.5rem;
  }
  &--quick {
    border-radius: 0 2.5rem 2.5rem 0;
  }
}