.card__panel {
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  //下面要加上footer的高度
  padding: 1.2rem 0 5.2rem 0.5rem;
  display: none;
  z-index: 1;

  //card是裝在container裡面
  //手機模式點選時 onClick 生效 -> 會點到container = 不會直接關掉panel
  &--container {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 0.5rem;
  }

  &--icon {
    display: none;
  }

  &.active {
    display: block;
  }
}
.card {
  width: 100%;
  height: 10rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  border: 1px var(--card-border-color) solid;
  transition: box-shadow 0.15s ease-in-out;
  margin-bottom: 0.8rem;

  &.current {
    background-image: url(../images/card-pin.svg);
    background-repeat: no-repeat;
    background-position: 98% 2%;
    margin-bottom: 1.2rem;
    box-shadow: 2px 2px 5px 1px var(--card-shadow-color);
    cursor: auto;
  }

  &:hover {
    box-shadow: 2px 2px 3px 0 var(--card-shadow-color);
  }
  &__title {
    padding: 0.5rem 0;
    text-align: center;
  }
  &__info {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: 1.2rem;
      padding: 0 0.5rem;
    }
    span {
      line-height: 1.5rem;
    }
  }
}



@media screen and (min-width: 600px) {
  .card__panel {
    pointer-events: auto;
    display: block;
    z-index: 1;
    width: 24rem;
    top: 0;
    bottom: 0;
    right: -24rem;
    box-shadow: 0 0 10px 1px var(--shadow-color);
    transition: box-shadow 0.2s ease-in-out;
    padding: 1.2rem 0 1.2rem 0.5rem;

    //電腦模式點選時 onClick 不要生效 -> 會點到底部 = 會關掉panel
    &--container {
      pointer-events: unset;
      cursor: auto;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 1px var(--shadow-darker);
      right: -23.2rem;
      &::before {
        box-shadow: 0 0 12px 1px var(--shadow-darker);
      }
    }
    &::before {
      content: '';
      width: 1.5rem;
      height: 10rem;
      background-color: var(--white);
      top: 50%;
      left: -1.5rem;

      border-radius: 12px 0 0 12px;
      transform: translateY(-50%);
      position: absolute;
      box-shadow: 0 0 10px 1px var(--shadow-color);
      transition: box-shadow 0.2s ease-in-out;
      z-index: 0;
    }
    &::after {
      content: '';
      width: 0.75rem;
      background-color: var(--white);
      left: 0rem;
      transform: translateY(-50%);
      position: absolute;
      top: 0;
      bottom: -100%;
    }
    &--icon {
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
      left: -1.2rem;
    }

    //滑鼠點擊後
    transition: 0.5s ease-in-out;

    &.active {
      right: 0;
      .card__panel--icon {
        transform: translateY(-50%) scaleX(-1);
      }
    }
  }
  .card {
    pointer-events: auto;
    cursor: pointer;
  }
}