* {
  color: var(--main-text-color);
}

:root {
  --white: #FFFFFF;
  --main-color: #33CC99; //(品牌色)
  --main-text-color: #3B4446; //(dark-100)
  --second-color: #6C7570; //(Secondary)   user panel 跟隨中+跟隨者+帳號+icon
  
  --main-shadow-color: #17a18f;
  --main-light-color: #45ecc2;
  --shadow-color: #b8bcbe;
  --shadow-darker: #8d9092;
  --card-shadow-color: #f0f4f7;
  --card-border-color: #dbe1e6;
  --border-color: #E6ECF0;
}


[data-theme="dark"] {
  --white: #3b536b;
  --main-color: #0b8f8f; //(品牌色)
  --main-text-color: #e2ecee; //(dark-100)
  --second-color: #6c7475; //(Secondary)   user panel 跟隨中+跟隨者+帳號+icon

  --main-shadow-color: #17a18f;
  --main-light-color: #1cbbb3;
  --shadow-color: #181e22;
  --shadow-darker: #141c1f;
  --card-shadow-color: #142730;
  --card-border-color: #5a7292;
  --border-color: #285972;
}