.detail__window {
  position: fixed;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: -18rem;
  transition: 0.25s ease-out;
  &.active {
    bottom: 5rem;
  }
}
.detail__control {
  width: 100%;
  height: 1rem;
}
.detail__panel {
  pointer-events: auto;
  width: 100%;
  height: auto;
  background-color: var(--white);
  box-shadow: 0 0 10px 1px var(--shadow-color);
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
}
//內容
.detail__title {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2rem 1fr auto;
  align-items: center;

  &--back {
    cursor: pointer;
    width: 1.5rem;
    margin: auto;
    fill: var(--main-text-color);
  }
  
  &--title {
    margin: auto 0.5rem;
    line-height: 1.6rem;
    // white-space: nowrap;  //不換行
  }
  &--navi {
    display: flex;
    padding: 0.1rem 0;
    position: relative;

    .icon {
      z-index: 1;
      width: 1.3rem;
      height: 1.3rem;
      margin: auto;
      fill: var(--main-text-color);
      stroke: var(--main-text-color);
    }
    p {
      z-index: 1;
      padding-left: 0.25rem;
      font-size: 1rem;
      line-height: 1rem;
      margin: auto;
      font-weight: 700;
    }
  }
}
.detail__info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  &--weather {
    width: auto;
    height: 1.6rem;
    grid-column: 3/4;
    fill: var(--main-text-color);
    padding-left: 0.5rem;
  }
  &--time {
    line-height: 2.2rem;
    color: var(--second-color);
    font-size: 0.875rem;
    text-align: end;
  }

  &--available {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    grid-column: 1/2;
  }

  &--img {
    width: auto;
    height: 1.8rem;
    fill: var(--main-text-color);
    stroke: var(--main-text-color);
  }

  &--counts {
    line-height: 2.2rem;
    width: auto;
    font-size: 1rem;
    padding: 0 1rem 0 0.5rem;
  }
}
.detail__container {
  width: 100%;
  height: 5.5rem;
  overflow-y: hidden;
  position: relative;
  padding-top: 0.5rem;
  border-top: 1px solid var(--card-border-color);
  
  &.active {
    height: auto;
  }
  &--button {
    width: 6rem;
    height: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    border-radius: 2rem;
    box-shadow: 0 0 20px 10px var(--white);
  }

  &--img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1.5rem;
    width: auto;
    margin-bottom: 0.25rem;
    display: flex;
    fill: var(--main-text-color);
      // stroke: var(--main-text-color);
    &-pregnancy, &-disabled {
      height: 1.5rem;
      width: auto;
      margin-left: 1rem;
    }
  }

}
.detail__content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2rem 1fr;
  padding-bottom: 0.4rem;
  font-size: 0.875rem;

  &--img {
    width: 70%;
    height: auto;
    fill: var(--main-text-color);
    stroke: var(--main-text-color);
  }
  &--content {
    padding-top: 0.15rem;
    line-height: 1.2rem;
  }
}


@media screen and (min-width: 600px) {
  .detail__window {
    width: 30rem;
    height: auto;
    left: 22rem;
    bottom: -20rem;
    transition: 0.25s ease-out;

    &.active {
      bottom: 2.5rem;
    }
  }
  .detail__panel {
    width: 30rem;
    opacity: 0.8;
    transition: 0.25s ease-out;

    &.active {
      bottom: 2.5rem;
    }
  }
  //這邊先把箭頭拿回來
  .detail__title {
    // grid-template-columns: 1fr auto;
    grid-template-columns: 2rem 1fr auto;
    &--back {
      // display: none;
    }
  }
  .detail__info {
    &--time {
      line-height: 2.5rem;
      font-size: 1rem;
    }
    &--img {
      height: 2rem;
    }
    &--counts {
      line-height: 2.5rem;
    }
}
  .detail__container {
    height: auto;
    &--button {
      display: none;
    }
  }
  .detail__content {
    font-size: 1rem;
    &--img {
      width: 80%;
    }
    &--content {
      line-height: 1.4rem;
    }
  }
}


//解決手機板的hover會黏住的問題
@media (hover: hover) {
  .detail__title {
    &--navi {
      &::before {
        transition: 0.15s ease-out;
        width: 4.8rem;
        height: 2.6rem;
        content: '';
        opacity: 0;
        background-color: var(--card-shadow-color);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        border-radius: 1.5rem;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    .detail__panel {
      &:hover {
        opacity: 1;
      }
    }
  }

}