//toggle在button那
.filter {
  &__toggle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 0;
    line-height: 2.5rem;
    margin: auto;
    position: absolute;
    right: -1.25rem;
    top: 4rem;
    z-index: 1;
    transition: 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 1.8rem;
      margin: auto;
      stroke: var(--main-text-color);
    }

    &.active {}
  }
  &__panel {
    background-color: var(--white);
    height: 2.45rem;
    width: 2.45rem;
    box-shadow: 1px 1px 5px 1px var(--shadow-color);
    position: absolute;
    right: -1.25rem;
    top: 4rem;
    z-index: 0;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;

    transition: 0.2s ease-out;
    &.active {
      width: 17.5rem;
      .filter__btn {
        transition: 0.2s ease-out;
        opacity: 1;
        &.zero {
          right: 3rem;
        }
        &.clear {
          right: 6rem;
        }
        &.disabled {
          right: 9rem;
        }
        &.pregnancy {
          right: 12rem;
        }
        &.charging {
          right: 15rem;
        }
      }
    }
  }
  &__img {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0;
    margin: 0;
    fill: var(--main-text-color);
    stroke: var(--main-text-color);
  }

  &__btn {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 2rem;
    background-color: var(--card-shadow-color);
    margin-right: 0.2rem;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0.2rem;
    opacity: 0;
    transition: 0.2s ease-out;

    &.active {
      background-color: var(--main-color);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 600px) {
  .filter {
    &__toggle {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      padding: 0;
      right: 25.5rem;
  
      .icon {
        width: 1.8rem;
        margin: auto;
      }
    }
    &__panel {
      height: 2.95rem;
      width: 2.95rem;
      left: -3.5rem;
      &.active {
        width: 19.1rem;
    
        .filter__btn {
          &.zero {
            left: 3.5rem;
          }
          &.clear {
            left: 6.7rem;
          }
    
          &.disabled {
            left: 9.9rem;
          }
    
          &.pregnancy {
            left: 13.1rem;
          }
    
          &.charging {
            left: 16.3rem;
          }
        }
      }
    }
    &__btn {
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 2rem;
      background-color: var(--card-shadow-color);
      margin-right: 0.2rem;
      left: 0.2rem;
      
    }
    &__img {
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
    }
  }

}

//解決手機板的hover會黏住的問題
@media (hover: hover) {
  .filter {
    &__toggle {
      &:hover {
        background-color: var(--main-light-color);
      }
    }
    &__btn {
      &:hover {
        background-color: var(--main-color);
    
        &::before {
          color: var(--white);
          width: 4rem;
          height: 1.5rem;
          line-height: 1.5rem;
          position: absolute;
          background-color: var(--main-text-color);
          opacity: 0.6;
          border-radius: 5px;
          top: 3rem
        }
    
        &.zero {
          &::before {
            content: '顯示所有';
          }
        }
    
        &.clear {
          &::before {
            content: '清除條件';
          }
        }
    
        &.disabled {
          &::before {
            content: '身障車位';
          }
        }
    
        &.pregnancy {
          &::before {
            content: '孕婦優先';
          }
        }
    
        &.charging {
          &::before {
            content: '有充電站';
          }
        }
      }
    }
  }
}