.sidebar {
  display: none;
}

@media screen and (min-width: 600px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: auto;
    width: 5rem;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0 0 10px 1px var(--shadow-color);
    transition: box-shadow 0.2s ease-in-out;
    z-index: 50;

    display: grid;
    grid-template-rows: 8rem 1fr auto auto 4rem 4rem 2rem;
    
    .control-type {
      grid-row: 3/4;
    }
    .control-type__marker {
      grid-row: 4/5;
    }
    .locate {
      display: flex;
      grid-row: 5/6;
    }
    .theme {
      display: flex;
      grid-row: 6/7;
    }
    &__logo {
      grid-row: 1/2;
      margin: auto;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 2rem;
      background-color: var(--main-color);
      img {
        margin: auto;
        width: 3.25rem;
        
        height: 1rem;
        &:first-child {
          margin: 0;
          width: 3rem;
          padding-top: 0.75rem;
          height: auto;
        }
      }

    }
  }
}