.warning {
  max-width: 80%;
  width: 18rem;
  height: 8rem;
  background-color: var(--white);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px var(--shadow-color);
  opacity: 0;
  z-index: -2;
  
  &__content {
    display: flex;
    line-height: 1.75rem;
    img {
      width: 3.5rem;
      height: 3.5rem;
      margin: auto;
      padding: 0.8rem;
    }
    p {
      flex: 1;
      padding-right: 0.8rem;
      margin: auto;
    }
  }
  &__btn {
    width: auto;
    height: 2rem;
    background-color: var(--main-shadow-color);
    border-radius: 5px;
    margin-top: 1rem;
    color: #f0f4f7;
    padding: 0 1rem;
    transition: 0.2s ease-out;
  }
  transition: 0.3s ease-in;
  &.active {
    top: 40%;
    opacity: 1;
    z-index: 999;
  }
}

//解決手機板的hover會黏住的問題
@media (hover: hover) {
  .warning {
    &__btn {
      &:hover {
        background-color: var(--main-color);
      }
    }
  }
}